body {
  font-family: Arial, Helvetica, sans-serif;
}

.judul {
  position: absolute;
  top: 10px;
  left: 115px;
}

.header {
  border: 2px solid DodgerBlue;
  background-color:DodgerBlue;
  padding: 15px;
  color:#FFFFFF;
  margin-top:0; 
  margin-bottom:0; 
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid #333;
  background-color: #333;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  margin-left: 5px;
  margin-right: 5px;
}

/* search bar */
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: 1px solid rgb(171, 171, 171);
    margin-top: 8px;
    margin-right: 16px;
    font-size: 12px;
}

/* tampilan tabel */
table, th, td {
    border: 2px solid rgb(171, 171, 171);
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
th {
  position: sticky;
  top: 0px;
  background-color: lightgray;
}
td {
  background-color: none;
}

.tabcapeg {
  border: none;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

#corners {
    border-radius: 25px;
    border: 2px solid rgb(171, 171, 171);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow:auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-height:500px; 
    overflow-y:auto;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
/* Style the buttons that are used to open and close the accordion panel
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
  background-color: #008080;
} */

/* Style the accordion panel. Note: hidden by default */
/* .panel label{
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} */
.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 8px;
  color: #777;
  float: right;
  margin-left: 5px;
}

/* .accordion button:active {
  content: "\2796"; /* Unicode character for "minus" sign (-)
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #005555;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
  display: none;
}
